<!DOCTYPE html>
<html>
<body>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div id="navigation">
    <div id="navigation">
        <hr/>
        <a class="pure-button" href="{{ path('guide_accueil') }}">accueil</a> -

        <hr/>
    </div>
</div>
<h1>{% block titre %}
        Resto
    {% endblock %}
</h1>
<div id="contenu">
    {% block contenu %}
    {% endblock %}
</div>
<hr/>
<div id="pied_de_page">
    <p>&copy; SA.</p>
</div>
</body>
</html>