{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} : Accueil
{% endblock %}


{%  block contenu %}
    <p> Guide Michelin .. trouvez un restaurant</p>
    <a href="/guideMichelin/menu">Menu</a>
{% endblock %}