{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} : Nouveau resto
{% endblock %}

{% block contenu %}
    <h3>renseigner les champs ci-dessous</h3>
    {% include "guide/formulaire.html.twig" %}
{% endblock %}
