{{ form_start(form) }}
    {{ form_errors(form) }}
<table>
    <tr>
        <td>
            {{ form_row(form.nom) }}
        </td>
        <td>
            {{ form_row(form.chef) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_row(form.nbrEtoiles) }}
        </td>
        <td>
            {{ form_row(form.submit) }}
        </td>
    </tr>
</table>
{{ form_end(form) }}