{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{ parent() }} : Liste des restos
{% endblock %}

{% block contenu %}
    <ul>
        {% for resto in restos %}
                <li>
                    <a href="{{ path("find_resto", {'id': resto.id}) }}">{{ resto.nom |capitalize }}</a>
                    <a href="{{ path("guide_modifier", {"id" : resto.id}) }}">   -  Modifier</a>
                </li>
        {% endfor %}
    </ul>
    <p><a href="{{ path("ajout_form") }}">Ajouter un resto </a></p>
{% endblock %}