{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{ parent() }} : Menu
{% endblock %}

{% block contenu %}
    <ul>
        <a href="{{ path("list_resto") }}"><li>restaurants</li></a>
        <li>chefs</li>
        <li>plats</li>
    </ul>
<p><a href="{{ path("ajout_form") }}">Ajouter un resto </a></p>
{% endblock %}