{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} : Modifier le resto
{% endblock %}

{% block contenu %}
    <h3>renseigner les champs ci-dessous</h3>
    {% include "guide/formulaire.html.twig" %}
    <p>Attention ! vous modifiez un resto existante.</p>
    <p><a href="{{ path('guide_accueil') }}">Abandonner</a></p>
{% endblock %}
