{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{  parent() }} : Resto (id={{ resto.id }})
{% endblock %}

{% block contenu %}
    <ul>
        <li>Resto : {{ resto.nom }} </li>
        <li><a href="{{ path("guide_resto_chef", {"chef" : resto.chef}) }}">Chef : {{ resto.chef }}</a></li>
        <li><a href="{{ path("guide_resto_etoile",{"nbrEtoiles" : resto.nbrEtoiles}) }}">Etoiles : {{ resto.nbrEtoiles }}</a></li>
    </ul>

{% endblock %}